# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache

# Virtual environment (all common venv names)
venv/
.venv/
env/
.env/

# Node modules
node_modules/

# Snapshot files
app/snapshots/

# Log files
logs/

# IDE
.vscode/
.idea/

# PyTorch model files
*.pt
*.pth

# Database
*.db
*.sqlite
